<!DOCTYPE html>
<html>
<head>
<style>
 table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}
</style>
<h2>List Of Companies</h2>
<table>
      <thead>
            <tr>
              <th>Company name</th>
              <th>Email</th>
              <th>Job Description</th>
              <th>Schedule</th>
              <th>Allowed Mute</th>
              <th>Allowed Arrears</th>
              <th>10th</th>
              <th>12th</th>
              <th>Minimum CGPA</th>
              <th>Register</th>
            </tr>
      </thead>
      <tbody>
        <% var i = 0; %>
           <% for(i=0;i< companies.length ;i++) { %>
               <tr>
                   <td><%= companies[i].company_name %></td>
                   <td><%= companies[i].email %></td>
                   <td><%= companies[i].job_description %></td>
                   <td><%= companies[i].schedule %></td>
                   <td><%= companies[i].mute %></td>
                   <td><%= companies[i].arrears %></td>
                   <td><%= companies[i].tenthth %></td>
                   <td><%= companies[i].twelveth %></td>
                   <td><%= companies[i].cgpa %></td>
                   <td>
                    <% if (companies[i].closed=="NO") { %>
                       <a href="/company-register/<%= companies[i].email %>" >Register</a>
                    <% } else { %>
                       Registration Closed
                    <% } %>
                    </td>
                </tr>
      <% } %>
      </tbody>
    </table>
</body>
</html>
